<%- include('./partials/header.ejs') -%>

<% posts.forEach(function(post) { %>
<%     console.log(post); %>
<h2 class="title"><%= post.title.toUpperCase(); %> </h2>
<p class="date"><%= post.dateCreated %></p>
<p class="content"><%= post.content.substring(0,100) + "..."%></p>
<p><a href="/posts/<%= post.title %>">Read more</a></p>


<% }); %>

<%- include('./partials/footer.ejs') -%>
